<div class="header">
    <div class="header-navigation">
        <span class="header-logo">Recipes</span>
        <a routerLinkActive="header-navigation-item-active" class ="header-navigation-item" routerLink = "" [routerLinkActiveOptions]="{exact:true}">Главная</a>
        <a routerLinkActive="header-navigation-item-active" class ="header-navigation-item" routerLink = "/recipes" [routerLinkActiveOptions]="{exact:true}">Рецепты</a>
        <a routerLinkActive="header-navigation-item-active" class ="header-navigation-item" routerLink = "/favorites" [routerLinkActiveOptions]="{exact:true}">Избранное</a>
    </div>
    <div class="header-login">
        <div class="header-login-img"></div>
        <div class="header-login-button">Войти</div>
    </div>
</div>