<div class="recipe-search-form">
    <div>
        <input class="recipe-search-form-input" placeholder="Название блюда...">
        <div class="recipe-search-form-tags">   
            <span class="recipe-search-form-tags-item">мясо</span>
            <span class="recipe-search-form-tags-item">деликатесы</span>
            <span class="recipe-search-form-tags-item">пироги</span>
            <span class="recipe-search-form-tags-item">рыба</span>
            <span class="recipe-search-form-tags-item">пост</span>
            <span class="recipe-search-form-tags-item">пасха2021</span>
        </div>
    </div>
    <button class="recipe-search-form-button">Поиск</button>
</div>