.step{
    margin-top: 20px;
    padding: 50px 70px;
    width: 650px;
    height: 229px;
    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
}

.step-title{
    display: flex;
    justify-content: space-between;
}

.step-title-order{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4A525A;
}

.step-title-delete{
    width: 24px;
    height: 24px;
}

.step-description-textarea{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(37, 41, 45, 0.5);
    padding: 11px 24px;
    margin-top: 19px;
    resize: none;
    box-sizing: border-box;
    width: 650px;
    height: 166px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}