<app-header></app-header>

<div class="body">
    <img src="../../../../assets/images/main-background.svg" class="body-background">
    <div class="slogan">
        <span class="slogan-title">
            Готовь и делись рецептами
        </span>
        <span class="slogan-description">
            Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.
        </span>
        <div class="slogan-buttons">    
            <button class="slogan-buttons-add-recipe">
                + Добавить рецепт
            </button>
            <button class="slogan-buttons-login">
                Войти
            </button>
        </div>
    </div>

    <div class="tags-preview">
        <span class="tags-preview-title">
            Умная сортировка по тегам    
        </span>
        <span class="tags-preview-description">
            Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.
        </span>

        <div class="tags-cards">
            <mat-card class="tags-card">  
                <div class="tags-card-content"> 
                    <div class="tags-card-img-box">
                        <img src="../../../../assets/images/ic-menu.svg" class="tags-card-img">
                    </div>
                    <span class="tags-card-title">
                        Простые блюда
                    </span>
                    <span class="tags-card-description">
                        Время приготвления таких блюд не более 1 часа
                    </span>
                </div>
            </mat-card>
            <mat-card class="tags-card">  
                <div class="tags-card-content">
                    <div class="tags-card-img-box">
                        <img src="../../../../assets/images/ic-cook.svg" class="tags-card-img">
                    </div> 
                    <span class="tags-card-title">
                        Детское
                    </span>
                    <span class="tags-card-description">
                        Самые полезные блюда которые можно детям любого возраста
                    </span>
                </div>
            </mat-card>
            <mat-card class="tags-card">   
                <div class="tags-card-content">
                    <div class="tags-card-img-box">
                        <img src="../../../../assets/images/ic-chef.svg" class="tags-card-img">
                    </div>
                    <span class="tags-card-title">
                        От шеф-поваров
                    </span>
                    <span class="tags-card-description">
                        Требуют умения, времени и терпения, зато как в ресторане
                    </span>
                </div>
            </mat-card>
            <mat-card class="tags-card">
                <div class="tags-card-content">
                    <div class="tags-card-img-box">
                        <img src="../../../../assets/images/holiday.svg" class="tags-card-img">
                    </div>   
                    <span class="tags-card-title">
                        На праздник
                    </span>
                    <span class="tags-card-description">
                        Чем удивить гостей, чтобы все были сыты за праздничным столом
                    </span>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="day-recipe">
        <img class="day-recipe-img" src="../../../../assets/images/day-recipe.svg">
        <div class="day-recipe-content">
            <div class="day-recipe-content-like-time">
                <img class="day-recipe-content-like-time-img" src="../../../../assets/images/day-recipe-favorite_border.svg">
                <span class="day-recipe-content-like-time-text">356</span>
                <img class="day-recipe-content-like-time-img" src="../../../../assets/images/day-recipe-timer.svg">
                <span class="day-recipe-content-like-time-text">35 минут</span>
            </div>
            <div class="day-recipe-content-yummy">
                <img src="../../../../assets/images/day-recipe-yummy.svg">
            </div>
            <span class="day-recipe-content-title">
                Тыквенный супчик на кокосовом молоке
            </span>
            <span class="day-recipe-content-description">
                Если у вас осталась тыква, и вы не знаете что с ней сделать, то это решение для вас! Ароматный, согревающий суп-пюре на кокосовом молоке. Можно даже в Пост! 
            </span>
        </div>
    </div>

    <div class="recipe-search">
        <span class="recipe-search-title">
            Поиск рецептов
        </span>
        <span class="recipe-search-description">
            Введите примерное название блюда, а мы по тегам найдем его
        </span>

        <div class="recipe-search-form">
            <form class="recipe-search-form-input" >
                <mat-form-field class="recipe-search-form-input-field" appearance="outline">
                    <mat-label>Название блюда....</mat-label>
                    <input matInput type="string">
                </mat-form-field>
                <div>
                    <span class="recipe-search-form-tags">Мясо Деликатесы Пирог Рыба</span>
                </div>
            </form>
            <button class="recipe-search-form-button">Поиск</button>
        </div>
    </div>
</div>

<app-footer></app-footer>