<div class="body">
    <div class="go-back">
        <img src="../../../../../assets/images/backspace.svg">
        <span class="go-back-text">Назад</span>
    </div>

    <div class="add-recipe">
        <div class="add-recipe-title">
            <span class="add-recipe-title-text">Добавить новый рецепт</span>
            <button class="add-recipe-title-button">Опубликовать</button>
        </div>
        <div class="add-recipe-top">
            <img class="add-recipe-top-img" src="{{inputImgPath}}">
            <div class="add-recipe-top-inputs">
                <input class="add-recipe-top-inputs-title-field" placeholder="Название рецепта">
                <textarea class="add-recipe-top-inputs-description-field" maxlength="150" placeholder="Краткое описание рецепта (150 символов)"></textarea>
                <input class="add-recipe-top-inputs-tags-field" placeholder="Добавить теги">
                <div class="add-recipe-top-inputs-minutes-persons">
                    <div>
                        <input class="add-recipe-top-inputs-minutes-persons-field" placeholder="Время готовки">
                        <span class="add-recipe-top-inputs-minutes-persons-text">Минут</span>
                    </div>
                    <div>
                        <input class="add-recipe-top-inputs-minutes-persons-field" placeholder="Порций в блюде">
                        <span class="add-recipe-top-inputs-minutes-persons-text">Персон</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-recipe-bottom">
            <div class="add-recipe-bottom-igredients">
                <span class="add-recipe-bottom-igredients-title">Ингредиенты</span>

                <button class="add-recipe-bottom-igredients-add">Добавить заголовок</button>>
            </div>
            <div class="add-recipe-bottom-steps">

            </div>
        </div>
    </div>
</div>