<div class="recipe-search-form">
    <div>
        <input class="recipe-search-form-input" placeholder="Название блюда...">
        <div class="recipe-search-form-tags">   
            <span class="recipe-search-form-tags-item">Мясо</span>
            <span class="recipe-search-form-tags-item">Деликатесы</span>
            <span class="recipe-search-form-tags-item">Пироги</span>
            <span class="recipe-search-form-tags-item">Рыба</span>
        </div>
    </div>
    <button class="recipe-search-form-button">Поиск</button>
</div>