<div class="day-recipe">
    <img class="day-recipe-img" src="../../../../assets/images/day-recipe.svg">
    <div class="day-recipe-content">
        <div class="day-recipe-content-like-time">
            <img class="day-recipe-content-like-time-img" src="../../../../assets/images/day-recipe-favorite_border.svg">
            <span class="day-recipe-content-like-time-text">356</span>
            <img class="day-recipe-content-like-time-img" src="../../../../assets/images/day-recipe-timer.svg">
            <span class="day-recipe-content-like-time-text">35 минут</span>
        </div>
        <div class="day-recipe-content-yummy">
            <img src="../../../../assets/images/day-recipe-yummy.svg">
        </div>
        <span class="day-recipe-content-title">
            Тыквенный супчик на кокосовом молоке
        </span>
        <span class="day-recipe-content-description">
            Если у вас осталась тыква, и вы не знаете что с ней сделать, то это решение для вас! Ароматный, согревающий суп-пюре на кокосовом молоке. Можно даже в Пост! 
        </span>
    </div>
</div>